@use "./variables" as *;

.container {
  width: 1000px;
  margin: 0 auto;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  margin: 0;
  background-color: rgb(13, 13, 13);

  .header-content {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    h1,
    h2 {
      font-family: $font-primary;
      color: $color-light;
      font-weight: 400;
      font-size: 50px;
      margin: 0;
    }

    h2 {
      font-size: 20px;
      margin-bottom: auto;
    }

    img {
      width: 70px;
    }
  }
}

nav {
  background-color: $color-header-secondary;

  .nav-content {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;

    .select-content {
      font-family: $font-primary;
      color: $color-light;

      h3 {
        font-weight: 400;
      }

      width: 15%;
      select {
        width: 100%;
        background-color: $color-header-secondary;
        border: none;
        border-bottom: 1px solid white;
        font-size: 18px;
        outline: none;
      }
    }

    select {
      width: 15%;
      color: $color-light;
      background-color: $color-header-secondary;
      border: none;
      border-bottom: 1px solid white;
      font-size: 18px;
      outline: none;
    }

    .checkbox-content {
      align-self: center;
      font-family: $font-primary;
      color: $color-light;
      font-size: 20px;
    }

    button {
      display: flex;
      background-color: $color-header-secondary;
      border: none;
      cursor: pointer;
      img {
        width: 35px;
      }
      h5 {
        height: 20px;
        width: 20px;
        background-color: $color-light;
        font-size: 17px;
        border-radius: 100%;
      }
    }

    .modal {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding: 15px 7px;
      border-radius: 20px;
      border: 1px solid gray;
      position: absolute;
      right: 3%;
      top: 19%;
      background-color: rgb(240, 238, 238);
      font-family: $font-primary;

      * {
        margin: 0;
      }

      h3 {
        margin: 20px 0;
      }

      button {
        @extend %btn-default;
      }

      .selected-product {
        display: flex;
        gap: 3px;
        width: 330px;
        border: 1px solid gray;

        .general-abt {
          max-width: 160px;
        }

        .price {
          margin-left: auto;
          margin-right: 10px;
        }

        .quantity-counter {
          margin-right: 5px;
          button {
            background-color: gray;
            height: 20px;
            width: 20px;
            border-radius: 0;
          }
        }

        * {
          margin: 0;
          font-family: $font-primary;
          font-weight: 400;
        }

        img {
          max-width: 70px;
          max-height: 70px;
        }

        div {
          height: 70px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .hiden {
      display: none;
    }
  }
}

.search-products {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  input {
    width: 50%;
    background-color: $color-card-bg;
    outline: none;
    border-radius: 10px 0 0 10px;
  }

  button {
    width: 50px;
    background-color: $color-header-secondary;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    img {
      width: 30px;
    }
  }
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  font-family: $font-secondary;
  margin-top: 30px;

  .product {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: $color-card-bg;
    border-radius: 20px;
    border: 1px solid gray;

    * {
      margin: 7px 0;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin: 0;
    }

    h3,
    h2 {
      font-weight: 400;
      padding-left: 10px;
    }

    .current-sizes {
      margin-left: 10px;
      display: flex;
      gap: 3%;
      h4 {
        width: 30px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(173, 171, 171);
      }
    }

    button {
      @extend %btn-default;
    }
  }
}

.out-stock {
  cursor: not-allowed;

  .current-sizes {
    text-decoration: line-through;
  }
}

.not-allowed {
  cursor: not-allowed;
}

footer {
  background-color: rgb(13, 13, 13);
}

.footer-content {
  margin-top: 100%;
  padding: 25px 0;
  h2 {
    text-align: center;
    font-family: $font-secondary;
    font-weight: 400;
    color: $color-light;
  }
}
